.list {
    p{
        text-align: center;
        font-size: 30px;
        color: currentColor;
    }
    div{
        text-align: center;
    }
    a{
        color: aqua;
        text-decoration: underline;
    }
}