@import url(./reset.css);
@import url(./icon/iconfont.css);

.clear:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

html, body, #main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#main{
    text-align: center;
    color: rgba(44, 56, 54, 0.849);
    font-size: 20px;
}